<div class="form-group" [ngClass]="{'error-visible': isShowError}">
    <label *ngIf="label" class="form-label" ngClass="{{required ? 'required':''}}" [for]="name">{{ label | localize }}</label>
    <textarea 
        #control
        #formData="ngModel"
        [id]="name"
        pInputTextarea
        [rows]="row"
        [(ngModel)]="ngModel"
        [disabled]="disabled"     
        [required]="required" 
        [maxlength]="maxLength"
        (ngModelChange)="emmitChange($event)" 
        class="prime-textarea"
    ></textarea>  
    <div class="error-message" *ngIf="formData.invalid && isShowError && !hiddenMessage">
        <span *ngIf="formData?.errors.required">
            {{label | localize}}
            {{"ValidationRequired" | localize}}
        </span>
        <ng-container *ngTemplateOutlet="validationTemplate; context: { $implicit: formData }"></ng-container>
    </div>
</div>
