@page "/"
@using gAMSPro.Core.Dependency
@inherits gAMSProMainLayoutPageComponentBase

<div class="card">
    <div class="card-body">
        INDEX
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        DependencyResolver.Resolve<INavigationService>().NavigateTo(NavigationUrlConsts.User);
    }
}