<p-dialog #popupFrame [header]="title" [(visible)]="visible" [modal]="true" [dismissableMask]="true" class="p-dialog-md"> 

    <ng-template pTemplate="body">
        <form #editForm="ngForm" autocomplete="off">
            <dropdown-lazy-control
                [name]="'Authority'"
                [label]="'ApproveAuthority'"
                [emptyText]="l('NullSelect')"  
                required 
                [(ngModel)]="item" 
                (onLoad)="getUser($event)"
                [valueMember]="'tlnanme'"
                [displayMember]="'tlnanme|tlFullName|poS_NAME'"
            ></dropdown-lazy-control>
           <button type="submit" hidden (click)="onSubmit();"></button>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="group-button-modal d-flex align-items-center justify-content-end">
            <div class="d-flex align-items-center justify-content-end gap-3"> 
                <button type="button" class="danger-button" (click)="onCancel()" [buttonBusy]="waiting" >
                    <i class="fa-solid fa-ban"></i>
                    <span>{{ 'Cancel' | localize}}</span>
                </button>
                <button type="button" class="prime-button" (click)="onSubmit()">
                    <i class="fa-solid fa-check"></i>
                    <span>{{ buttonContent }}</span>
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>
 